<!-- start content -->
<div id="content">
  <div class="post">
    <h2 class="title"><a href="#">公告事項</a></h2>
    <div class="entry">
      <h3>公告欄位</h3>
      <p>試用看看吧，套樣板做比較快，以後應該用 framework 來寫比較不會那麼醜</p>
    </div>
    <p class="meta">Posted on April 9, 2011 by <a href="http://blog.kudo.idv.tw/">Kudo</a></p>
  </div>
</div>
<!-- end content -->
